@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin BgImage($image){
    background-image: url($image);
    width: 230px;
    height: 230px; 
    border-radius: 50%;
    background-size: cover;
}